.projets-container{
    text-align: center;
    grid-template-columns: 200px 200px 200px ;
    gap: 1rem;
}

.video-container video {
  max-width: 50%;
  height: auto;
  margin-top: 100px;
}

.video-container p{
    margin: 20px;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 1px solid #dfdde4;
    border: 5px; 

}

.projets-container {
    display: flex; /* Utilisez Flexbox pour aligner les projets horizontalement */
    justify-content: space-between; /* Ajoute de l'espace entre les projets */
  }
  
  .video-container,
  .projet-2,
  .projet-3 {
    flex: 1; 
    padding: 15px; 
    text-align: center;
    padding-top: 5%;
  }

  .projet-2 {
    padding-top: 15%;
  }

  .projet-3{
    padding-top: 15%;
  }
  
  /* Styles pour les smartphones */
  
  @media screen and (max-width: 767px) {
    .video-container {
      text-align: center;
    }
    .video-container video {
      max-width: 100%;
      height: auto;
    }
    .projet-2,
    .projet-3 {
      text-align: center;
    }
    .projet-2 img,
    .projet-3 img {
      max-width: 100%;
      height: auto;
      width: 80%; /* Ajustez la largeur selon vos besoins */
    }
  }
  